<div class="container" >
    ﻿<div id="chatWrapper">
        <textarea id="messagesArea" style="width:100%; height:500px" disabled></textarea>
        <input class="form-control input-lg" placeholder="Message" id="input" style="width:80%;">
        <button class="btn btn-primary" id="button">Send</button>
    </div>
</div>
<script>
	(function () {
		var input = PUBNUB.$('input'),
			button = PUBNUB.$('button'),
			output = PUBNUB.$('messagesArea');

		PUBNUB.subscribe({
			channel: 'my_channel',
			callback: function (message) {
				// Received a message --> print it in the page
				output.innerHTML += message + '\n';
			}
		});

		PUBNUB.bind('mousedown', button, function () {
            var user = jQuery.parseJSON( sessionStorage.getItem('user'));
            var username = 'unnamed';
            console.log(username);

            if (user != null || user != undefined){
                username = user.userName;
            }

			PUBNUB.publish({
				'channel': 'my_channel',
				'message': username + ' : ' + input.value
			});
			
		input.value = '';
		});
	})();
</script>
