<div class="container">
    ﻿<div id="chatWrapper">
        <textarea id="messagesArea" style="width:300px; height:300px" disabled></textarea>
        <input class="form-control input-lg" placeholder="Message" id="input" style="width:300px;">
        <button class="btn btn-primary" id="button">Send</button>
    </div>
</div>
<script>
	(function () {
		var input = PUBNUB.$('input'),
			button = PUBNUB.$('button'),
			output = PUBNUB.$('messagesArea');

		PUBNUB.subscribe({
			channel: 'my_channel',
			callback: function (message) {
				// Received a message --> print it in the page
				output.innerHTML += message + '\n';
			}
		});

		PUBNUB.bind('mousedown', button, function () {
			PUBNUB.publish({
				'channel': 'my_channel',
				'message': input.value
			});
			
		input.value = '';
		});
	})();
</script>
