<div class="container clearfix" ng-controller="HighScoresController">
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Best scores</h3>
            </div>
            <div class="panel-heading text-center">
                <div class="row">
                    <div class="col-md-3 ng-binding">
                        <strong >Score</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>Games played</strong>
                    </div>
                    <div class="col-md-6">
                        <strong>User</strong>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center" ng-repeat="score in scores">
                <div class="row">
                    <div class="col-md-3 ng-binding">
                        <strong>{{score.BestScore}}</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>{{score.Games}}</strong>
                    </div>
                    <div class="col-md-6">
                        <strong>{{score.Username}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>